<div class="modal-backdrop" ng-show="vm.loading">
        <img class="spinner" ng-src="assets/icons/spinner.svg">
</div>

<div class="notFound" ng-show="vm.notFound">
    <p><h1>No results found for this query!</h1></p>
</div>

<table class="table table-hover" ng-show="!vm.notFound">
    <thead>
    <tr class="tabHeader">
        <th>#</th>
        <th>Comic</th>
    </tr>
    </thead>
    <tbody ng-repeat="comic in vm.data">
        <tr  ng-click="vm.expandRow($index)" class="mainRow">
            <td>{{$index}}</td>
            <td>{{comic.title}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr ng-show="vm.num == $index && vm.show" class="subRow">
            <td></td>
            <td>Characters: {{comic.characters}}</td>
            <td>Creators: {{comic.creators}}</td>
            <td>Events: {{comic.events}}</td>
            <td>Series: {{comic.series}}</td>
            <td>Stories: {{comic.stories}}</td>
            <td><img ng-src={{comic.thumbnail}}></td>
        </tr>
    </tbody>
</table>